@model List<CrmSalesProject.ViewModels.CrmAccountViewModel>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table>
    @foreach(var account in Model)
    {
        <tr>
            <td>@account.AccountName</td>
        </tr>
    }
</table>
